body{
    display:block;
    background: grey;
    font-size: 18px;
    height: 500px;
    font-family: 'Roboto', sans-serif;
   
}
.red, .yellow , .green {
    height: 100px;
    width: 100px;}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green {
    background: green;
}